:root {
  --cyan: #0990ab;
  --pink: #ee6e73;
  --tuna: #ee464c;
  --greyish: #485e68;
  --grey: #38494c;
  --dark: rgba(0, 0, 0, 0.87);
}

html {
  scroll-behavior: smooth;
  filter: saturate(120%);
  background-color: var(--cyan);
}

body {
  background-image: url("../assets/wp.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: var(--greyish);
}

.space {
  letter-spacing: 1px;
}

.soc {
  transform: scale(1);
  transition-duration: 300ms;
}

.soc:hover {
  transform: scale(1.1);
  transition-duration: 300ms;
}

#Fork {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  opacity: 0.9;
}

.con-tit {
  font-variant: small-caps;
  text-shadow: 1px 0 1px var(--dark);
}

.FMlogo {
  color: var(--pink);
  font-weight: 300;
  text-shadow: 0 0 1px var(--greyish);
  font-family: "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    "Helvetica Neue", sans-serif;
}

.FMlogo:hover {
  color: var(--tuna);
  text-shadow: 0 0 2px var(--pink);
}

#upArr {
  opacity: 0.9;
  bottom: 74px;
  display: none;
}

.avp li {
  font-size: 0.95em;
  word-spacing: 3px;
}

.avp li::before {
  content: "⊹  ";
  color: var(--greyish);
}

.avp li:hover {
  color: var(--greyish);
  font-weight: 300;
}

.collapsible-body,
.not-txt,
.collapsible-header,
footer {
  user-select: none;
}

.cus-bdg {
  font-weight: 500;
  font-size: small;
  color: var(--greyish);
}

.txt-justify {
  text-align: justify;
}

@media only screen and (max-width: 430px) {
  .right {
    float: left !important;
  }

  #toasty-button {
    float: left;
    margin-right: 10px;
  }
}

#Fatal {
  position: fixed;
  top: 10vh;
  left: calc(50vw - 250px);
  display: none;
  z-index: 99;
}

#toastyMe {
  position: fixed;
  right: -200px;
  bottom: -10px;
}

.surprise {
  -webkit-animation: showMe 1s;
  -moz-animation: showMe 1s;
  -o-animation: showMe 1s;
  animation: showMe 1s;
}

@-webkit-keyframes showMe {
  0% {
    right: -300px;
  }

  40% {
    right: 0;
  }

  60% {
    right: 0;
  }

  100% {
    right: -300px;
  }
}

@-moz-keyframes showMe {
  0% {
    right: -300px;
  }

  40% {
    right: 0;
  }

  60% {
    right: 0;
  }

  100% {
    right: -300px;
  }
}

@-o-keyframes showMe {
  0% {
    right: -300px;
  }

  40% {
    right: 0;
  }

  60% {
    right: 0;
  }

  100% {
    right: -300px;
  }
}

@keyframes showMe {
  0% {
    right: -300px;
  }

  40% {
    right: 0;
  }

  60% {
    right: 0;
  }

  100% {
    right: -300px;
  }
}

.tost {
  background-color: var(--grey);
}

.tost b {
  color: var(--pink);
}

.abt:hover,
.copy:hover {
  text-shadow: 0 0 2px var(--pink);
}
